<!DOCTYPE html>
<html>
<head>
    <title>YIC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".main-content").load('/dashboard');
            $('#nav_dashboard').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_dashboard');
                $(".main-content").load('/dashboard');
            });
            $('#nav_projects').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_projects');
                $(".main-content").load('/projects');
            });
            $('#nav_events').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_events');
                $(".main-content").load('/events');
            });
            $('#nav_collages').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_collages');
                $(".main-content").load('/collages');
            });
            $('#nav_users').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_users');
                $(".main-content").load('/users');
            });
            $('#nav_settings').on('click',function (e) {
                e.preventDefault();
                remove_add_active('nav_settings');
                $(".main-content").load('/settings');
            });
            $('#nav_profile').on('click',function (e) {
                e.preventDefault();
                $('.nav li a').removeClass('active');
                $(".main-content").load('/profile');
            });
            function remove_add_active(name) {
                $('.nav li a').removeClass('active');
                $('#'+name +' a').addClass('active');
            }
            });
    </script>
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #5bbddf;
            color: #000000;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 999999;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>
</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/home">Young Innovators Club</a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-cross"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="Search">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                        </div>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li id="nav_profile"><a><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li id="nav_settings"><a><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li id="nav_dashboard"><a  class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li id="nav_projects"><a  class=""><i class="lnr lnr-code"></i> <span>Projects</span></a></li>
                    <li id="nav_events"><a  class=""><i class="lnr lnr-calendar-full"></i> <span>Events</span></a></li>
                    <li id="nav_collages"><a  class=""><i class="lnr lnr-graduation-hat"></i> <span>Collages</span></a></li>
                    <li id="nav_users"><a class=""><i class="lnr lnr-user"></i> <span>Users</span></a></li>
                    <li id="nav_settings"><a  class=""><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
        </div>
        <div id="snackbar">Some text some message..</div>
    </div>
</div>
</body>
</html>