<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>YIC</title>
    <!--STYLES-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/importer.less">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <!--toast css-->
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #69b4d7;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index:9999999;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>
    <!--STYLES END-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body><!-- Section Intro Slider
================================================== -->
<div id="front" style="background-color: black">

    <img src="/assets/images/inno2.jpg" class="img-responsive" style="opacity:0.5;filter:alpha(opacity=30)">
    <div class="item active">
        <div class="carousel-caption">
            <h2 data-animation="animated bounceInDown">
            </h2>
            <h1 data-animation="animated bounceInUp">
                We Love to Create </h1>
            <a href="#" class="btn btn-ghost btn-lg page-scroll" data-animation="animated fadeInLeft">Learn More</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInRight" data-toggle="modal" data-target="#loginid">Login</a>
        </div>
    </div>
</div>
<!-- /.carousel -->
<div id="page-top">
    <nav id="#mainNav" class="navbar navbar-default" data-spy="affix" data-offset-top="600">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/assets/images/logo-yic.png" style="max-width:50px" alt="YIC"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a class="page-scroll" href="#front" style="font-family: 'Roboto', sans-serif;letter-spacing: 2px;">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Motto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Colleges">Colleges</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Collaborates</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <a class="page-scroll btn btn-info" type="button" style="margin-top:4px" data-toggle="modal" data-target="#loginid">Login</a>
                </ul>
            </div>
        </div>


    </nav>
</div>

<!-- Section About
================================================== -->
<section id="about">
    <div class="container wow zoomIn">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Motto</h2>
                <h3 class="section-subheading text-muted">Incubate young talent to help productize their ideas and facilitate their career development.</h3>
            </div>
        </div>
    </div>
</section>
<!-- Section after about
================================================== -->
<section class="no-padding">
    <div class="equal-heights">
        <div class="col-md-4 bg-primary">
            <div class="box">
                <div class="service-icon"><i class="fa fa-handshake-o"></i></div>
                <h2>Collaborate</h2>
                <p>
                    JCI India Engineering organizes tech events to recognize bright young students, and provides them the opportunity to collaborate with domain experts to develop their innovative ideas using the YIC platform.
                </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="service-icon"><i class="fa fa-microchip"></i></div><h2>Innovate</h2>
                <p>
                    The innovation soul, spirit and drive at JCI India Engineering facilitates YIC to empower domain experts and YIC members to create innovative solutions to real world problems.
                </p>
            </div>

        </div>
        <div class="col-md-4 bg-dark">
            <div class="box">
                <div class="service-icon"><i class="fa fa-bullseye"></i></div>

                <h2>Create</h2>
                <p>
                    Innovative solutions collaboratively created by YIC members are fine-tuned by JCI India Engineering domain leaders to add business value and make the solutions more marketable.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Section Timeline
================================================== -->
<section id="journey" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">YIC Journey</h2>
                <h3 class="section-subheading text-muted">The Journey of a thousand miles begins with one step.</h3>
            </div>
        </div>

        <div class="row">
            <div class="container wow zoomIn">
            <section id="timeline">
                <article>
                    <div class="inner">
      <span class="date">
        <span class="month">2015</span>
      </span>
                        <h2>Our Beginning</h2>
                        <p>Under the Academic Interface Program, JCI was a sponsor of a hackathon named 'Make-A-Thon16' which took place at Vellore Institue of Technology, Vellore Campus.That was the very first step and the beginning of Young Innovators Club.</p>
                    </div>
                </article>
                <article>
                    <div class="inner">
      <span class="date">
        <span class="month">2016</span>
      </span>
                        <h2>A Club is Born</h2>
                        <p>The winners of the 'Make-A-Thon16' were provided with an offer of internship at JCI where they showcased their project ideas at Technovate16.They were also provided with the membership of the Young Innovators Club.This was how the Club was born.</p>
                    </div>
                </article>
                <article>
                    <div class="inner">
      <span class="date">
        <span class="month">2017</span>
      </span>
                        <h2>First YIC Presetation</h2>
                        <p>We Sponsored JCI Makeathon for the first time in March 2017 in March 2017 We visited VIT University, Vellore for JCI Makeathon in April 2017. Winners of JCI Makeathon were invited as an interns at JCI in May 2017. They will be presenting ideas at BT&S Tech Challenge India 2017 on 13th June 2017.</p>
                    </div>
                </article>
            </section>
            </div>
        </div>
    </div>
</section>
<!---timeline-->

<!-- Section Portfolio
================================================== -->
<!--1-->
<!-- work section -->
<!-- section start -->
<!-- ================ -->
<section id="Colleges"  style="background-color:#cccccc">
    <h1 class="text-center title" id="portfolio">Colleges</h1>
    <div class="separator"></div>
    <p class="lead text-center"></p>
    <br>
    <div class="col-lg-offset-10"><button type="button" class="btn btn-info">View More</button></div>
    </br>
    <div class="row">
        <!-- isotope filters end -->

        <!-- portfolio items start -->
        <div class="col-md-4">
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%">
                    <img src="assets/images/clgimgs/VIT.jpg" alt="vit" style="width:100%">
                    <div class="w3-container w3-center" style="padding:2%">
                        <h4>VIT University</h4>
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#clg-1">View</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio items start -->
        <div class="col-md-4">
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%">
                    <img src="assets/images/clgimgs/BITS_Pilani_Campus.jpg" alt="Bits" style="width:100%">
                    <div class="w3-container w3-center" style="padding:2%">
                        <h4>BITS Pilani</h4>
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#clg-3">View</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio items start -->
        <div class="col-md-4">
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%">
                    <img src="assets/images/clgimgs/kgp4.jpg" alt="kgp" style="width:100%">
                    <div class="w3-container w3-center" style="padding:2%">
                        <h4>IIT Kharagpur</h4>
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#clg-6">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--modals open-->
    <div class="modal fade" id="clg-1" tabindex="-1" role="dialog" aria-labelledby="clg-1-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-12-label">VIT University</h4>
                </div>
                <div class="modal-body">
                    <h3>About</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>VIT University, also known as Vellore Institute of Technology (VIT), formerly known as Vellore Engineering College, is a private university in Tamil Nadu, India. Founded in 1984, as Vellore Engineering College, by G. Viswanathan, the institution offers 20 undergraduate, 34 postgraduate, four integrated and four research programs. It has campuses in Vellore and Chennai, Tamil Nadu, India. A new 200-acre campus called VIT-AP located at Amaravati (the new state capital of Andhra Pradesh state) is under construction. Classes will be started in July 2017. N. Chandrababu Naidu, the Chief Minister of Andhra Pradesh and M. Venkaiah Naidu, the Vice-president of India (then a Union Minister), participated in the foundation ceremony.[1] Foundation stone for VIT Bhopal campus at Sehore, Madhya Pradesh was laid down by Shivraj Singh Chouhan (Chief Minister of Madhya Pradesh) on 20 October 2016</p> </div>
                        <div class="col-md-6">
                            <img src="/assets/images/clgimgs/VIT.jpg" alt="VIT" style="width:100%;height: 100%">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
    <!-- portfolio items end -->

</section>
<!-- section end -->
<!--Collab-->
<!--==========================
  Team Section
============================-->
<section id="team">
    <div class="container wow zoomIn">

        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title text-center">Our Amazing Mentors</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container wow zoomIn">
                    <div class="member">
                        <div class="pic"><img class="img-circle" src="assets/images/mentors/Subrata.jpg" style="width:256px;height:256px" alt=""></div>
                        <h4>Subrata Bhattacharyya</h4>
                        <span>Chief Patron</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images/mentors/ashok.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Ashok Sridharan</h4>
                    <span>President</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Ashok.sridharan.s"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/ashok-sridharan-3502a226/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/Images/mentors/hariharasudhan.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Hariharasudhan Venugopal</h4>
                    <span>Technical Panel Head</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Hariharasudhanv77"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images/mentors/nilankur.jpg" style="width:200px;height:200px" alt=""></div>
                    <h4>Nilankur Majumdar</h4>
                    <span>SR. General Manager</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/nilankur.mazumdar"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images/mentors/vivek.jpg" style="width:180px;height:180px" alt=""></div>
                    <h4>Vivek Tripathi</h4>
                    <span>Joint Secretary</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="member">
                    <div style="padding:15px"><img class="img-circle" src="assets/images/mentors/sauvik.jpg" style="width:180px;height:180px" alt=""></div>
                    <h4>Sauvik Ghosh</h4>
                    <span>AIP Co.ordinator</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-shivakant-tripathi-a3799673/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Section Testimonials
================================================== -->
<div id="events" style="background-color:orange;padding: 0px;margin: 0px;width: 100%;background-color: black">
    <div class="carousel slide"  data-ride="carousel" style="margin:0px;width:100%;">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="padding: 0px;margin: 0px;">
            <div class="item active">
                <img src="assets/images/events/event44.jpg" style="height: 330px;width: 100%;opacity:0.5;filter:alpha(opacity=30)" alt="ev">
                <div class="carousel-caption" style="margin:0px;width:100%;">
                    <div class="col-xs-1">
                        <h2>Event 1</h2>
                        </div>
                    <div class="col-xs-5">
                        <h2>12/12/16</h2></div>
                    <div class="col-xs-3">

                        <a href="#" class="btn btn-ghost btn-lg page-scroll" data-animation="animated fadeInLeft">View More</a>
                    </div>
                </div>

            </div>

            <div class="item">
                <img src="assets/images/events/abt.jpg" style="height: 330px;width: 100%;opacity:0.5;filter:alpha(opacity=30)" alt="ev1">
                <div class="carousel-caption" style="margin:0px;width:100%;">
                    <div class="col-xs-1">
                        <h2>FIRST YIC</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2>15/4/16</h2></div>
                    <div class="col-xs-3">

                        <a href="#" class="btn btn-ghost btn-lg page-scroll" data-animation="animated fadeInLeft">View More</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="assets/images/events/_RPR1785.jpg" style="height: 330px;width: 100;opacity:0.5;filter:alpha(opacity=30)%" alt="ev2">
                <div class="carousel-caption" style="margin:0px;width:100%;">
                    <div class="col-xs-1">
                        <h2>Event 3</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2>12/5/17</h2></div>
                    <div class="col-xs-3">

                        <a href="#" class="btn btn-ghost btn-lg page-scroll" data-animation="animated fadeInLeft">View More</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width:12px">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width:12px">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>




<!-- Section Contact
================================================== -->
<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading" style="color: whitesmoke">CONTACT <b>US</b></h2>
                <p>
                    Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                </p>
                <div class="regularform">
                    <div class="done">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Your message has been sent. Thank you!
                        </div>
                    </div>
                    <form method="post" action="contact.php" id="contactform" class="text-left" >
                        <div class="row" style="color: black">
                            <div class="col-md-12">
                                <input name="name" style="border-radius: 10px" type="text" class="col-md-12" placeholder="Your Name *">
                            </div>
                        </div>
                        <div class="row" style="color: black">
                            <div class="col-md-12">
                                <input name="email" style="border-radius: 10px" type="email" class="col-md-12" placeholder="E-mail address *">
                            </div>
                        </div>
                        <div class="row" style="color: black">
                            <div class="col-md-12">
                                <textarea name="comment" style="border-radius: 10px" class="col-md-12" placeholder="Message *"></textarea>
                            </div>
                        </div>
                        <input type="submit" id="submit" class="pull-right contact submit btn btn-primary btn-xl" value="Send message">
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="container">
                    <div class="wow fadeInLeft">
                        <p style="letter-spacing: 2px;color: #0c8ec3"><strong>&copy;Young Innovators Club</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--login modal-->
<div class="modal fade" id="loginid" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 class="col-lg-offset-5">Login</h3>
                <form method="post" action='' name="login_form">
                    <br>
                    <div class="col-lg-offset-2">
                        <div class="col-xs-10">
                            <div class="input-group">
                                <input id="email" type="text" class="form-control input-lg" name="email" placeholder="Email">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        </br>
                        </br>
                        </br>
                        <div class="col-xs-10">
                            <div class="input-group">
                                <input id="password" type="password" class="form-control input-lg" name="password" placeholder="Password">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    </br>
                    <div class="col-lg-offset-5">
                        <p>
                            <button id="login_button" class="btn btn-info">Sign in</button>
                        <p>
                            <a href="#">Forgot Password</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center"><a href="#" data-toggle="modal" data-target="#guestid" data-dismiss="modal">Are you a Guest?</a></div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Guest login-->
<div class="modal fade" id="guestid" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 class="col-lg-offset-5">Guest Login</h3>
                <form method="post" action='' name="login_form">
                    <br>
                    <div class="col-lg-offset-2">
                        <div class="col-xs-10">
                            <div class="input-group">
                                <input id="guest_email" type="text" class="form-control input-lg" name="email" placeholder="Email">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="col-lg-offset-5">
                        <button id="guest_login_button" class="btn btn-info">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center"><a href="#" data-toggle="modal" data-target="#loginid" data-dismiss="modal">Are you a User?</a></div>
            </div>
        </div>

    </div>
</div>
</div>
<!--toast-->
<div id="snackbar">Enter Email and Password</div>

<!-- SCRIPTS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/scripts/parallax.js"></script>
<script src="assets/scripts/contact.js"></script>
<script src="assets/scripts/countto.js"></script>
<script src="assets/scripts/jquery.easing.min.js"></script>
<script src="assets/scripts/wow.min.js"></script>
<script src="assets/scripts/common.js"></script>
<script>
    $(document).ready(function () {
        $('#login_button').on('click',function (e) {
            e.preventDefault();
            var  user=$('#email').val();
            var pass=$('#password').val();
            if((!user.length>0) && (!(pass.length)>0)){
                $('#snackbar').text("Enter the fields");
                myFunction();
            }
            else if(!user.length>0){
                $('#snackbar').text("Enter username");
                myFunction();
            }
            else if(!pass.length>0)
            {
                $('#snackbar').text("Enter password");
                myFunction();
            }
            else{
                validatelogin(user,pass);
            }

        })

        $('#guest_login_button').on('click',function (e) {
            e.preventDefault();
            var email=$('#guest_email').val();
            if(!email.length>0)
            {
                $('#snackbar').text("Enter your email id");
                myFunction();
            }
            else{
                validatelogin1(email);
            }
        });
    });
    function validatelogin(user,pass) {
        var emailReg =/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (!emailReg.test(user)) {
            $('#snackbar').text("Invalid email");
            myFunction();
        }
        else
        {
            $('#snackbar').text("Sending Request");
            myFunction();
            $.ajax({
                url: '/login',
                type: "POST",
                data: {
                    email: user,
                    password: pass
                },
                success: function(response) {
                    if(response=='success')
                    {
                        localStorage.setItem("email", user);
                        window.location.href='/home';
                    }
                    else
                    {
                        $('#snackbar').text("Invalid Credentials");
                        myFunction();
                    }
                },
                error: function(xhr, status, error) {

                }
            });
        }
    }
    function validatelogin1(user) {
        var emailReg =/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (!emailReg.test(user)) {
            $('#snackbar').text("Invalid email");
            myFunction();
        }
        else
        {
            $('#snackbar').text("Sending Request");
            myFunction();
            $.ajax({
                url: '/guest_login',
                type: "POST",
                data: {
                    email: user
                },
                success: function(response) {
                    if(response=='success')
                    {
                        localStorage.setItem("email", user);
                        window.location.href='/home';
                    }
                    else
                    {
                        $('#snackbar').text("Invalid Credentials");
                        myFunction();
                    }
                },
                error: function(xhr, status, error) {

                }
            });
        }
    }
    function myFunction() {
        var x = document.getElementById("snackbar")
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>
<!--SCRIPITS END-->
</body>
</html>
