<div class="container-fluid">
    <div style="background-color: white;padding: 2%">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <p style="font-size: 1.5em;padding-left: 10%">Users</p>
                </div>
                <div class="pull-right col-md-1">
                    <button type="button" style="background-color: transparent;border: 0px" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-square" style="color: #0c8ec3;font-size: 2.0em"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="main_user_content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Super Admin</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Admin</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Innovator</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Mentor</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Academic patner</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Guest</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i
                                                class="lnr lnr-question-circle"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>0 Members</div>
                            </div>
                            <div class="panel-footer">
                                <div>View All<i class="lnr lnr-arrow-right pull-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="show_content">
            <div class="row">
                <div class="col-md-5" style="margin-left: 1%">
                    <div id="content" style="padding: 2%"></div>
                </div>
                <div class="col-md-2 pull-right">
                    <button class="btn"><i class="lnr lnr-arrow-left"></i>&nbsp;&nbsp;Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Invite User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-3">
                        <div class="row" style="margin-top: 5%">
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="name" type="text" class="form-control is-valid" name="name"
                                           placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
                                    <input id="email" type="text" class="form-control is-valid" name="email"
                                           placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-md-9">
                                <form>
                                    <div class="form-group">
                                        <select class="form-control" id="role">
                                            <option value="superadmin">Super Admin</option>
                                            <option value="admin">Admin</option>
                                            <option value="leader">Leader</option>
                                            <option value="innovator">Mentor</option>
                                            <option value="innovator">Innovator</option>
                                            <option>Guest</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="user_invite" class="btn btn-primary">Invite</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('#user_invite').on('click', function (e) {
                e.preventDefault();
                var name = $('#name').val();
                var email = $('#email').val();
                var role = $('#role').val();
                if (!name.length > 0) {
                    $('#snackbar').text("Enter Name");
                    myFunction();
                }
                else if (!email.length > 0) {
                    $('#snackbar').text("Enter email address");
                    myFunction();
                }
                else {
                    validateEmail(name, email, role);
                }

            });

            $('#profile_nav').on('click', function (e) {
                e.preventDefault();
                alert('request profile');
                $.ajax({
                    url: '/profile',
                    type: "POST"
                });
            });

            $('.panel .panel-footer').on('click',function (e) {
                var d=$(this).parent('.panel').find('.panel-title').text();
                $('#main_user_content, #show_content').slideToggle('medium',function(e){
                    $('#show_content').find('#content').text('No '+d+' Added');
                });
            });

            $('#show_content').find('.row .col-md-2 button').on('click',function (e) {
                e.preventDefault();
                $('#show_content, #main_user_content').slideToggle('medium');
            })

            function validateEmail(name, email, role) {
                var emailReg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                if (!emailReg.test(email)) {
                    $('#snackbar').text("Invalid email");
                    myFunction();
                } else {
                    $('#snackbar').text("Sending Request");
                    myFunction();
                    $.ajax({
                        url: '/user_invite',
                        type: "POST",
                        data: {
                            name: name,
                            email: email,
                            role: role
                        },
                        success: function (response) {

                        },
                        complete: function (r) {
                            alert(r.responseText);
                        },
                        error: function (xhr, status, error) {
                        }
                    });

                }
            }
        });

        function myFunction() {
            var x = document.getElementById("snackbar")
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    </script>
</div>
<script src="assets/scripts/main.js"></script>
<style>
    .panel, .panel-footer,#show_content .row .col-md-2 button {
        background-color: #0b5b97;
        color: white;
    }

    .panel .panel-footer:hover {
        background-color: #073a63;
        color: white;
    }

    #show_content{
        display: none;
    }
</style>